<!DOCTYPE html>
<html lang="en">

<head>
    <title></title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="bower_components/bootstrap/dist/css/bootstrap.css" rel="stylesheet">
    <link href="bower_components/jquery-ui/themes/ui-darkness/jquery-ui.css" rel="stylesheet">
</head>

<body class="container">
    <div class="page-header">NG-learn - NG-without-services.html</div>

    <div class="well" ng-app="demo">
      
        <div ng-controller="HitController">
            <button class="btn" ng-click="doHit()">Hit-1</button><span class="badge">{{count}}</span>
        </div>
        <hr/>
         <div ng-controller="HitController">
            <button class="btn" ng-click="doHit()">Hit-2</button><span class="badge">{{count}}</span>
        </div>
        <hr/>
        <div ng-controller="KickController">
            <button class="btn" ng-click="doKick()">Kick-1</button><span class="badge">{{count}}</span>
        </div>

    </div>

    <script src="bower_components/angular/angular.js"></script>
    <script>
        var mod=angular.module('demo',[]);

        mod.config(function(counterServiceProvider){
            console.log('module config callback..');
            //counterServiceProvider.setInitialCount(500);
        });

        mod.controller('HitController',function($scope,counterService){
            console.log('New HitController instance created..');
            $scope.count=counterService.getCount();
            $scope.doHit=function(){
              counterService.doCount();
              $scope.count=counterService.getCount();
            }
        })
         mod.controller('KickController',function($scope,counterService){
            console.log('New KickController instance created..');
            $scope.count=counterService.getCount();
            $scope.doKick=function(){
             counterService.doCount();
              $scope.count=counterService.getCount();  
            }
        })


        // function Counter(){
        //     this.count=0;
        //     this.doCount=function(){
        //         this.count++;
        //     }
        //     this.getCount=function(){
        //         return this.count;
        //     }
        // }

        // mod.factory('counterService',function(){
        //     console.log('counterServiceProvider factory-method invoked..');
        //     var service=new Counter();    
        //     return service;
        // });

        // mod.service('counterService',Counter);

        var counter={
            count:0,
            doCount:function(){
                this.count++;
            },
            getCount:function(){
                return count;
            }
        };

        mod.value('counterService',counter);



    </script>


</body>

</html>