<!DOCTYPE html>
<html lang="en">

<head>
    <title></title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="bower_components/bootstrap/dist/css/bootstrap.css" rel="stylesheet">
    <link href="bower_components/jquery-ui/themes/ui-darkness/jquery-ui.css" rel="stylesheet">
</head>

<body class="container">
    <div class="page-header">NG-learn - NG-without-services.html</div>

    <div class="well" ng-app="demo">
      
        <div ng-controller="HitController">
            <button class="btn" ng-click="doHit()">Hit-1</button><span class="badge">{{count}}</span>
        </div>
        <hr/>
         <div ng-controller="HitController">
            <button class="btn" ng-click="doHit()">Hit-2</button><span class="badge">{{count}}</span>
        </div>
        <hr/>
        <div ng-controller="KickController">
            <button class="btn" ng-click="doKick()">Kick-1</button><span class="badge">{{count}}</span>
        </div>

    </div>

    <script src="bower_components/angular/angular.js"></script>
    <script>
        var mod=angular.module('demo',[]);
        mod.controller('HitController',function($scope){
            console.log('New HitController instance created..');
            $scope.count=0;
            $scope.doHit=function(){
              $scope.count++;   
            }
        })
         mod.controller('KickController',function($scope){
            console.log('New KickController instance created..');
            $scope.count=0;
            $scope.doKick=function(){
              $scope.count++;   
            }
        })

      
    </script>


</body>

</html>